
  .alignVid {
    display:flex;
    justify-content: center;
  }
  .alignVid2{
    display:flex;
    justify-content: center;
    margin-top:5%;
  }
  
  body {
    background-color: rgb(32,33,36);
    display:inline-flex;
  }
  .colorHeaderH{
    background-color: rgb(32,33,36);
    display: flex;
    padding-top:10px;
  }
  .englobeText {
    color:white;
  }
  .homePres {
    width: 100vw;
    margin-top:5%;
  }
  .iconeHeader:hover{
    background-color:rgba(255, 255, 255, 0.623) !important;
  }
  
  .point {
    font-size: 32px;
    font-weight: 700;
    color:white
  }
  .colorMenuH {
    background-color:rgb(32,33,36);
  }