
App {
  display:inline-flex;
}
body {
  background-color: rgb(0, 0, 0);
}
.iconeHeader:hover{
  background-color:rgba(255, 255, 255, 0.623) !important;
}
.colorMenu{
  background-color: #000000;
}
.colorHeader{
  background-color: #000000;
  display: flex;
  padding-top:10px;
}