.englobeVideo {
  display: flex;
  justify-content: space-between;
  }
.video {
    min-width: 950px;
    max-width: 60%;
    height:550px;
    /* background-image: url("../Img/snake.JPG"); */
    background-position: center;
    background-size: cover;
    margin-top:8%;
    margin-left: auto;
    margin-right:auto;
    margin-top: 5%;
}