.boutonU {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 1em;
    background-color: rgb(253, 253, 253);
    font-weight: 600;
    font-family:"YouTube Sans","Roboto",sans-serif;
    margin-left:15px;
}

.boutonU:hover {
    background-color: rgba(235, 233, 233, 0.671);
}