.autorSub{
    color:rgb(172, 170, 170);
    font-size:16px;
    font-family:"YouTube Sans","Roboto",sans-serif;
    margin-left:1%;
}
.autorVideo {
    color:white;
    font-size:20px;
    margin-left:1%;
    font-family:"YouTube Sans","Roboto",sans-serif;
    width: max-content;
}
.icnBtn {
        font-size: 34px;
        text-align: center;
        color: #dddddd;
        cursor: pointer;
        background-color: rgb(82, 82, 82);
        font-weight: 600;
        font-family:"YouTube Sans","Roboto",sans-serif;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        padding-left: 3px;
        padding-top: 2%;
        padding-bottom: 2%;
    }
.icnBtn:hover {
    background-color: rgba(235, 233, 233, 0.733);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.icnBtnL {
    font-size: 34px;
    color: #dddddd;
    cursor: pointer;
    background-color: rgb(82, 82, 82);
    font-weight: 600;
    font-family:"YouTube Sans","Roboto",sans-serif;
    border-radius: 1em;
    padding-left: 3px;
    padding-top: 2%;
    padding-bottom: 2%;
}
.icnBtnL:hover {
background-color: rgba(235, 233, 233, 0.733);
text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.iconAutor {
    color:white;
    font-size:45px;
    cursor:pointer;
}
.leftPlusRight {
    display: flex;
    justify-content: space-between;
}
.packIcnBtn {
    display: flex;
    margin-left:7px;
}
.packLeft{
    display: flex;
}
.packRight{
    display: flex;
    margin-right: 2%;
    margin-bottom: 1%;
}
.videoTitle {
    color:white;
    font-size:26px;
    font-family:"YouTube Sans","Roboto",sans-serif;
}
.infoAutor{
    display: grid;
    margin-left:1%;
    color:white;
    font-size:40px;
    cursor:pointer;  
}
.infoVidGlobal {
    background-color: #15361cba;
    width: 1280px;
}