:root{
    --bg-gn: #153610;
  }
Mgs{
    display:inline-flex;
  }
  body {
    background-image:url('https://milesandlove.com/system/attachments/7436/xxlarge/quand-la-nature-envahit-tout-la-reunion.jpg?1556621832');
  }