.datevid{
    margin-left:10px;
    font-family:FreeMono, monospace;
}
img {
    margin-right:10px;
    border-radius: 1em;
    background-position: center;
    background-size: cover;
    max-width: 171px;
    max-height: 105px;
}
.point {
    font-size: 32px;
    font-weight: 700;
}
.textVidProp1 {
    color:white;
    display: grid;
}

.textVidProp2 {
    color:white;
}
.titreVid {
    font-family:Helvetica, sans-serif;
    font-weight:700;
}

.videoPropose {
display: inline-flex;
margin-bottom: 10px;
float: right;
margin-right:7%;
cursor:pointer;
}
.videoPropose:hover {
    background-color:rgba(247, 241, 241, 0.062);
}

.vuesVid{
    font-family: inherit;
}