
  .colorMenu {
    background-color: #153610;
  }
  .colorHeader {
    background-color: #15361cba;
    display: flex;
  }
  Mgs{
    display:inline-flex;
  }
.myVid{
  width: 100vw;
  height:60vw;
  background-repeat: no-repeat;
  background-image:url('https://milesandlove.com/system/attachments/7436/xxlarge/quand-la-nature-envahit-tout-la-reunion.jpg?1556621832');
  }
